/*
!/docs
!/include
!/lib
!/test
!/tools
/tools/dyno-sv/slang

!.gitignore
!.gitmodules
!CMakeLists.txt
!CMakePresets.json
!.clang-format
!README.md

*~
.DS_store
.clangd/
.cache
.vscode
.*.sw?
.sw?
*.pyc
